@font-face {
    font-family: "Platform Title";
    src: url("./../../../config/fonts/TITLES.TTF");
    src: url("./../../../config/fonts/TITLES.TTF") format("ttf"),
}

.platform-title {
    font-family: Platform Title;
}

.platform-container{
    max-height: 85vh;
    overflow: auto;
}

.platform-body{
    font-size: 1.5rem;
    text-align: justify;
    text-justify: auto;
}